.container {width:100%; max-width:600px; margin:0 auto;}
header, footer {text-align:center;}
header {border-bottom:2px solid #ECEFF1;}
footer {border-top: 2px solid #ECEFF1; padding-top:20px;}
div.day {display:none;}
span.day {font-weight:bold; text-decoration:underline;}